* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#time {
  color: steelblue;
}